@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua;
  background-image: url('../img/ilustracao-diaria-da-nuvem-do-ceu-com-cirros-de-desenhos-animados-e-cumulos-de-nuvens-brancas-em-raios-de-sol_1284-62767.webp'); */
  background: linear-gradient(
        15deg,
        rgba(41, 41, 41, 1) 4%,
        rgba(49, 49, 49, 1) 24%,
        rgba(128, 128, 128, 1) 64%,
        rgba(138, 138, 138, 1) 70%,
        rgba(230, 230, 230, 1) 81%,
        rgba(255, 255, 255, 1) 86%,
        rgba(220, 220, 220, 1) 89%,
        rgba(230, 230, 230, 1) 100%
    );
  background-color: #09a8ff;   
  background-blend-mode: overlay;
}
.content{
  width: 80%;
  padding: 3rem;
  background-color: #cfcfcf;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
  align-items: center;
  border-radius: 0.5rem;
}
.content::before{
  position: relative;
  width: 80%;
  padding: 3rem;
  background-color: rgba(17, 17, 17, 0.8);
  z-index: 1000;
}
.pesquisa{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pesquisa input{
  width: 70%;
  padding: 1rem;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  font-size: 1rem;
  color: #2d2d2d;
}
.pesquisa button{
  width: 10%;
  padding: 1rem;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  font-size: 1rem;
  background-color: rgb(67, 165, 221);
  cursor: pointer;
}
.lupa{
  color: #2d2d2d;
}
hr{
  width: 70%;
  margin: 1rem 0;
}
.display-clima{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.cidade{
  padding: 1rem;
}
.display-clima{
  width: 80%;
  border: 1px solid white;
  border-radius: 0.2rem;
  background-color: rgba(0, 0, 0, 0.549);
}
.clima-dia{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.temp{
  font-weight: 700;
  font-size: 6rem;
}
.status{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clima-status{
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.clima-semana{
  width: 80%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.549);
  border-radius: 0.2rem;
}
.arrow-up{
  color: rgb(243, 86, 38);
}
.arrow-down{
  color: rgb(38, 127, 243);
}